body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#weather {
    min-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#mainData {
    backdrop-filter: blur(1px) saturate(200%);
    -webkit-backdrop-filter: blur(1px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 12px 12px 0 0;
    border: 1px solid rgba(209, 213, 219, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 50px 10px 50px;
}

#errorData {
    backdrop-filter: blur(1px) saturate(200%);
    -webkit-backdrop-filter: blur(1px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px 30px 50px;
    font-size: 2rem;
}

#cityDiv p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px
}

#cityName {
    font-size: 2rem;
    font-weight: lighter;
}

#temp {
    font-size: 4vw;
    font-weight: lighter;
}

#weat {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 88, 88);
    font-size: 1.8rem;
    font-weight: lighter;
}

#additionalData {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 15px;
    border-radius: 0 0 12px 12px;
}

#inputDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}


#searchDiv {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}

#searchBox {
    font-size: 1.8rem;
    height: 100%;
    width: 95%;
    border: none;
    background: transparent;
    border-bottom: 2px solid white;
    transition: border-color 0.3s ease;
}

#searchBox:focus {
    outline: none;
    border-color: #4299e1;
}

#submitButton {
    width: 50px;
    padding: 10px;
    background: rgb(255, 174, 0);
    border-radius: 5px;
    border: none;
}

#submitButton img {
    width: 20px;
    height: 20px;
}

#submitButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    filter: brightness(1.05);
}

#filterDiv {
    background-color: white;
    width: fit-content;
    padding: 5px 10px 5px 5px;
    border-radius: 10px;
}